/* colours used:
            #cfe2f3
            #357b70
            #05676e
            #489c79
            #fff
            #e0b354 
            #eeeeee */
:root {
    --primary-color:#357b70;
    --secondary-color:#e0b354;
    --tertiary-color:#05676e;
    --fourth-color:#489c79;
    --dark-grey: #2b2b2b;
    --background-color:#eeeeee;
    --text-color:#fff;
    --font-weight-1:700;

}

/* BODY */

* {
    box-sizing: border-box;
}
.shortcut-icon{
    max-width: auto;
    height: auto;
}
html{
    width: 100%;
    margin: 0;
    padding:0;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    margin: 0
}

h1 {
    font-size: 30px;
    font-weight: var(--font-weight-1);
}
h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: var(--font-weight-1);
}
h3 {
    font-size: 18px;
    font-weight: var(--font-weight-1);
}
a {
    color: var(--primary-color);
  }
a:visited {
    color: var(--tertiary-color);
}
a:hover, a:focus {
    text-decoration: none;
}

a:active {
    color: var(--fourth-color);
}
button,
.button{
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the button */
    background-color:var(--primary-color);
    color:var(--text-color);
    text-decoration: none;
    padding:10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid var(--dark-grey);
    /*adds transition fx; this is the shorthand version*/
    transition:opacity .5s; /*this isn´t working, VSCode doesn´t seem to recognise "opacity" */
    margin: 30px;
}

.button:hover,
.button:focus{
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}
.button_secondary {
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}

/* HEADER */
.page-header{
    display: flex;
    width: 100%;
    padding: 20px;
    margin: 0;
    border-bottom: 30px solid #337ab7;
    background-color: #fffF;
}
.page-header__logo{
    width: 100px; 
}
.page-header__item {
    flex-basis: 150px;
    flex-shrink: 1;
}
.page-header__item:last-child{
    flex-grow:1;
    text-align: right;
}
.navigation-list__item--active {
    text-decoration: none;
}
.navigation-list{
    list-style-type: none;
}
.navigation-list li{
    display: inline-block;
    margin-left: 15px;
}
/* INDEX PAGE */

.profile {
    max-width: 700px;
    margin:0 auto;
    margin-top: auto;
}
.profile__portrait {
    width: 250px;
    float:left;
    margin-right: 40px;
    border-radius: 50%;
}
.profile__description {
    margin-top: 30; /*this doesn´t work */
}
#profile__span {
    font-style: italic;
}

/* ABOUT PAGE */
.about {
    text-align: center;
    margin-top: auto;
}
.about-table {
    margin:0 auto; /*this doesn´t do anything */
}
.about-table__item {
    padding: 15px;
}

/* CONTACT PAGE */

.contact{
    text-align: center;
    margin-top: 100px;
}
.contact__form{
    margin:50px
}
.standard-label{
    padding: 30px 30px;
    margin-top: 30px;
}

/* FOOTER */

.page-footer {
    clear: both;
    display: flex;
    flex-direction:column;
    text-align: center;
    padding-bottom: 30px;
}
.social-media img{
    padding: 10px;
}
.social-media a:hover{
    text-decoration: none;
}
.social-media a{
    text-decoration: none;
}

/* WORK PAGE */
.work-title{
    text-align: center;
    padding-bottom: 15px;
    
}

#technologies{
    text-align: left;
}
    /* start grid fallback */
.my-work{
    display: inline-block;
    background-color: #fff;
    padding: 30px 0 50px;
    border-bottom: 30px solid #337ab7;
}
/* end grid fallback */
.screenshot{
    width: 300px;
    height: 150px;
}
.btn {
    margin: 10px;
    display: inline-block;
}
.short-description {
    margin-top: 20px;
}
.modal-button {
    position: absolute;
    bottom: 0;
    left: 115px;
}
.background-bar1{
    position: absolute;
    top: 300px;
    width: 100%;
    height: 30px;
    background-color: #337ab7;
    z-index:0;
}
.background-bar2{
    position: absolute;
    top: 800px;
    width: 100%;
    height: 30px;
    background-color: #337ab7;
    z-index:0;
}
/* .background-bar3{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100px;
    background-color: #578ab7;
    z-index:0;
} */

/* GRID */

@supports (display:grid) { /*tells the bowser that if it can support it, display this property*/

    .grid{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 25px;
        margin: 0 100px;
    }
.grid__item {
    padding:20px;   
    text-align: center;
    width: auto; /*makes browser take up as much space as given*/
    height: 350px;
    margin: 0;
    border: 6px solid #337ab7;
    background-color: #fff;
    border-radius: 5%;
    position: relative;
}
.grid__item:hover {
    border: 6px solid #e3e5ef;
    transition: 800ms;
}

}

/* MODAL */

.modal-image {
    max-width: 500px;
    max-height: 500px;
    display: flex;
    margin: 0 auto;
}

.modal-title {
    text-align: center;
}

.project-description {
    margin: 30px 15px 15px;
}
.modal-links{
    margin: 0 auto;
    text-align: center;

}
.modal-github-link {
    display: block;
}
.live-link {
    display: block;
}
/* RESPONSIVE BREAKPOINTS */
@media all and (max-width:500px){
    .grid {
        grid-template-columns: 1fr;
        }
    }
@media all and (min-width:500px) and (max-width:750px){
    .grid{
        grid-template-columns: 1fr 1fr;
        }
        }
@media all and (max-width:750){
    .grid{
        grid-gap: 10px;
    }
    .grid__item:last-child{
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h1{
    font-size: 22px;
    }
}
