:root {
  --primary-color: #337ab7;
  --secondary-color: #107d85;
  --tertiary-color: #94b1cf;
  --fourth-color: #489c79;
  --text-color: #fff;
  --text-secondary: #8a8989;
  --font-weight-1: 700;
}

/* RESET & LAYOUT */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #d0deed;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  background-color: #fff;
}

main {
  flex: 1;
  /* margin: 2em 0; */
}

section {
  max-width: 1200px;
  min-height: 70vh;
  margin: 3em auto;
}

article {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0.75rem 0;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: var(--font-weight-1);
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.125rem;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.125rem;
  margin-bottom: 0.875rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

a {
  color: var(--primary-color);
}

a:hover,
a:focus {
  color: var(--tertiary-color);
}

a:active {
  color: var(--tertiary-color);
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

/* ANIMATIONS */

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.hidden.left {
  transform: translateX(-10vw);
}

.hidden.right {
  transform: translateX(10vw);
}

.hidden.bottom {
  transform: translateY(10vh);
}

.hidden.top {
  transform: translateY(-10vh);
}

.shows {
  opacity: 1;
  filter: blur(0);
  transform: translate(0) !important;
  transition: all 1.5s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* BUTTONS */

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.34);
  color: var(--text-color);
  text-decoration: none;
  padding: 0.625rem 1rem;
  border-radius: 0.1875rem;
  transition: 500ms;
  margin: 1.875rem;
  font-size: 1rem;
}

.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  section {
    padding: 3rem 4rem;
  }
}

@media (max-width: 650px) {
  section {
    padding: 2rem 1.5rem;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 1rem;
  }

  section {
    padding: 2rem 1rem;
  }
}
